/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  flex: 1;
  overflow-y: auto; /* Asegura que main sea desplazable */
  padding: 20px;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
}

h3 {
  color: #333;
  text-align: center;
}

h2{
  text-align: center;
}
